@page "/BookStore"
@using Microsoft.Extensions.Localization
@using global::DN.BookStore.Localization
@inject IStringLocalizer<BookStoreResource> L
@{
}
<h1>BookStore</h1>
<p>@L["SamplePageMessage"]</p>